<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album Art App</title>
</head>

<body>
    <form action="/data/" method="POST">
        <input type="radio" name="link_type" value="album" id="album" checked>
        <label for="album">Album</label>
        <input type="radio" name="link_type" value="song" id="song">
        <label for="song">Song</label>
        <br>Link<input type="url" name="link">
        <input type="submit" value="Submit">
    </form>

    {% for image in images %}
    <h2>{{name}} ({{image['height']}} x {{image['width']}})</h2>
    <img src="{{image['url']}}" alt="{{name}}">
    {% endfor %}
</body>

</html>